# ignore .git and .cache folders
.git
.gitignore

.github
.gitlab

.cache
.releaserc.yml

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md

# files nemed with "filename\[SPACE].*" usually file you copy paste in your ide ...
\ copy.*

# environment files, if your loading them at run time 
## so don't include them in the continer ...
.env